.divFundo{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
 
}

.divTituloForm{
    text-align: center;
    width: 50%;
    margin: auto; 
    justify-content: center;
    
   
}

.nomeFormulario{
    font-size: 2.5rem;
    color: #0090FF;
    transform: translatey(-40%);
    transition:   transform 0.9s ease-in-out;
} 

.divFormNome{
    display: flex;
}

.botaoSeguir1{
    margin-left: 10px;
}

/*Estilo criacao de formulario*/
.divCriacaoForm{
    display: flex;
} 
.divEsquerda{
height: 100vh;
width: 20%;
background-color: #efeff0;
border-right: solid 1px #d8d8d8;
}
.divDireita{
    height: 100vh;
    width: 80%;
}

/*Estilo das opcoes laterais*/
.botaoVoltar{
    cursor: pointer;
    color: #aaa9a9;
    font-size: 18px;
    transition: 0.6s;
    width: 100px;
    margin-top: 10px;
   
}
.botaoVoltar:hover{
      color: #c7c6c6;
      /* margin-left: -20px;
      transition: margin-left 0.6s; */
}

.quadradoOp{
    width: 100px;
    height: 100px;
    border: solid 1px #d8d8d8;
    margin: 2px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.4s;  
    text-align: center;
   
   
}
.quadradoOp:hover{
    transform: scale(1.05);
    transition: 0.4s;
    z-index: 2;
}

.iconeOp{
    justify-content: center;
    margin: auto;
    font-size: 3.5rem;
    margin-top: 10px;

}

.quadradoOp:hover{
    color:#0090FF
}