.divFundoColetadores{
    display: flex;
}
.divLateral{
    background-color: #ffffff;
    height: 100vh;
    width: 350px;
    border-right: solid 1px #dad9d9;
}
.divCards{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}
.CardPadrao{
    height: 250px;
    margin: 10px;
    justify-content: center;
    display: flex;
    text-align: center;
}

.CardPadrao:hover{
    box-shadow: 2px 0px 5px 0px #bbbbbb;
    color:#0d6efd;
    border: solid 1px #0d6efd;
}

.iconeCard{
    font-size: 6rem;
}
.divPercentual{
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    color: #0d6efd;
}
.percentual{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: solid 3px #0d6efd;
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    color:rgb(92, 92, 92);
}
.legendaPercentual{
    padding-top: -5px;
    font-size: 14px;
}

.divDados{
    top: 100px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    /* background-color: #bbbbbb; */

}

.fontDados{
    font-size: 1rem;
}
.dadosLegenda{
    display: flex;
    border-radius: 40px;
    margin-inline-start: auto;
    font-size: 1rem;
    background-color: #0d6efd;
    color: #ffffff;
    padding: 5px;
    width: 40px;
    margin-top: -25px;
    justify-content: center;
}