.headerNavBar{
    background-color: #0090FF;
    color:#fff
    /* border-bottom: solid 1px #fff; */
}

.headerIconeLogo{
    color:#fff
}

.headerNavBar{
    box-shadow: 3px 0px 3px 0px #949393;
}

.iconeNotificacao{
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.iconeNotificacao:hover{
    color: #FFC53D;
}

.botaoMenu{
    background-color: #FFC53D;
    color: #000
}
.botaoMenu:hover{
    background-color: #c7992f;
    --bs-btn-border-color: #c7992f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c7992f;
    --bs-btn-hover-border-color: #c7992f;
    --bs-btn-active-bg: #c7992f;
    --bs-btn-active-border-color: #c7992f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c7992f;
    --bs-btn-disabled-border-color: #c7992f;


   
}

.menuDrop{
    margin-left: -80px;
}

.divIconesMenu{
    display: flex;
    margin-inline-start: auto;
}