.headerNavBar{
    background-color: #fff;
    /* border-bottom: solid 1px #fff; */
}

.headerNavBar{
    box-shadow: 3px 0px 3px 0px #949393;
}

.iconeNotificacao{
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.iconeNotificacao:hover{
    color: #198754;
}

.menuDrop{
    margin-left: -80px;
}

.divIconesMenu{
    display: flex;
    margin-inline-start: auto;
}